.form-wrapper{
width: 100%;
height: 95vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.input-wrapper{
    width: 600px;
    height: 470px;
    border-radius: 10px;
}
.forgot-pwd{
    text-decoration: underline;
}

.title{
    font-size: 50px;
    font-weight: bolder;
    color: #01478d;
    margin-top: 1rem;
}

.subtitle{
   font-size: 30px; 
}

.all-inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 452px;
}
.email-input{
    width: 400px;
    padding: 0.5rem;
}

.pwd-input{
    width: 400px;
    padding: 0.5rem;
}

.login-btn{
    padding: 0.7rem;
    cursor: pointer;
}
